<nav class="navbar bg-primary" >
    <div class="container-fluid " >
      <div class="navbar-header">
        <button type="button" style="background-color:#2b0909 ;" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
          <span class="icon-bar" style="background-color:white ;"></span>
          <span class="icon-bar" style="background-color:white ;"></span>
          <span class="icon-bar" style="background-color:white ;"></span>
        </button>
        <b class="navbar-brand" >Jobs Frame</b>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar1">
        <ul class="nav navbar-nav">
          <li><a style=" 
            color: white;
            padding: 15px 25px;
            text-align: center;" href="/index/all_jobs/1">Home</a></li>
          <li><a style=" 
            color: white;
            padding: 15px 25px;
            text-align: center;" href="/contact_us">Contact Us</a></li>
          <li><a style=" 
            color: white;
            padding: 15px 25px;
            text-align: center;" href="/about_us">About Us</a></li>
      </ul>
        
      </div>
    </div>
    
  </nav>
  <h1>Main Template</h1>
  
{% block content %}
{% endblock %}